|===
|멀티파트명|양식|설명

{{#requestParts}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#format}}{{.}}{{/format}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/requestParts}}
|===